#add for board init.rc for recovery mode
import /init.recovery.common.rc

on fs
    start load_modules 

#Fix Touch
service load_modules /system/bin/load_modules.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0